.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.navbar-two {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-two ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}


.navbar-three{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-three ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar-four {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-four-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-four ul {
    display: flex;
    flex-direction: row;
    list-style: none ;
    gap: 20px;
}

.navbar-four ul li a {
    display: flex;
    flex-direction: row;
}

.navbar-five {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-five ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;

}