/*//////////////////////////////
        Table of Contents
        1. Global Styles
        2. Typography
        3. Areas
            3.1 Sidebar Menu
            3.2 Header
            3.3 Main
            3.4 Footer
//////////////////////////// */
/* ------------------------------- 1. Global Styles --------------------------- */
/*    img {*/
/*        width: 100%;*/
/*    }*/
/* ------------------------------- 2. Typography ----------------------------- */
/* ------------------------------- 3. Areas ---------------------------------- */

/*

* ---------------------- 3.1 Sidebar Menu -------------------------- */
.sidebar {
    display: flex;
    flex-direction: column;
    /*border: 2px solid yellow;*/
}

.sidebar ul {
    list-style: none;
}
.sidebar-nav-menu{
    display: flex;
    flex-direction: column;
}

.sidebar-nav-item a{
    display: flex;
    flex-direction: row;
    gap: 12px;

}

.sidebar-icon {
    width: 1rem;
    height: 1rem;

}
.sidebar-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    width: 350px;
    list-style: none;
}

.sidebar-nav-main{
    padding: 10px;
}

.sidebar-nav-main ul li{
    padding: 10px;
}

.sidebar-nav-footer button{
    width: 100%;
}
.sidebar-nav-footer li {
    padding: 5px;
}

.sidebar-logo {
    display: flex;
    column-gap: 16px;
    align-items: center;
    padding-bottom: 40px;
}
/*.sidebar-nav-menu li {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    column-gap: 16px;*/
/*    padding: 10px;*/

/*}*/

.sidebar-nav-footer {

}
/*----------------------- page wrapper--*/
.page-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
/*------------------------------content-wrapper*/
.content-wrapper {
    display: flex;
    flex-direction: column;
}

/* ---------------------- 3.2 Header -------------------------- */
.header-section {
    display: flex;
    flex-direction: column;
    text-align: center ;
    background-image: url("/assets/placeholder-image.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 135px;
    /*border: 2px solid deeppink;*/

}
/* ---------------------- 3.3 Main -------------------------- */
main {
    display: flex;
    flex-direction: column;
    /*border: 2px solid red;*/
}

.advertisement-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    padding: 40px 0;
}

.advertisement-article{
    display: flex;
    flex-direction: column;
    width: 260px;
}

.advertisement-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

 .advertisement-icon{
    width: 16px;
}
.advertisement-article h3 {
    padding: 10px 0;
    font-weight: 600;
}
.advertisement-article p {
    padding: 10px 0;
}
/* ---------------------- 3.1 Footer -------------------------- */

.footer-section {
    background-color: #383838;
    color: white;
    text-align: center;
    padding: 8px;
}